# env
.env

# Go build
*.exe
*.exe~
*.dll
*.so
*.dylib
menu-api
main

# test files
*.test
*.out

# workspace file
go.work

.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp/
temp/